body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.app-header-wrapper {
  border-bottom: 1px solid #efefef;
  padding: 20px;
  margin-bottom: 30px;
}

.app-header {
  width: 1000px;
  margin: 0 auto;
  color: rgb(93, 93, 93);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header h1{
    margin: 0;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.quiz, .results {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.answers-list {
  margin: 20px;
}

.answers-list .form-check{
  margin-bottom: 10px;
}

.summary {
  margin-bottom: 30px;
}

.results h3 {
  margin: 10px 0 20px 0;
}

.question-result {
  margin-bottom: 50px;
}

.question-result h4 {
  display: flex;
  align-items: flex-start;
}

.question-result h4 span{
  margin-left: 10px
}

.selected-answers, .correct-answer{
  margin: 20px 0 20px 34px;
}
